<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/menu :: menu"></div>

<div class="container mt-5">
    <h1>Alterar Penalidade</h1>
    <form action="#" th:action="@{/penalidades/alterar/{id}(id=${penalty.id})}" th:object="${penalty}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" />
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Descrição:</label>
            <input type="text" class="form-control" id="description" th:field="*{description}" />
        </div>
        <div class="mb-3">
            <label for="pointsToDeduct" class="form-label">Pontos:</label>
            <input type="text" class="form-control" id="pointsToDeduct" th:field="*{pointsToDeduct}" />
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Atualizar</button>
        </div>
    </form>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>