<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sub13</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/menu :: menu"></div>

<div style="margin-left: 50px;"><a href="sub13/adicionar">Adicionar Sub13</a></div>

<div class="container mt-5">
    <h1 class="text-center">Lista do Sub13</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Apelido</th>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>Idade</th>
            <th>Time</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="child, iterStat : ${children}">
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${child.nickname}"></td>
            <td th:text="${child.fullName}"></td>
            <td th:text="${#temporals.format(child.birthday, 'dd/MM/yyyy')}"></td>
            <th th:text="${child.age}"></th>
            <td th:text="${child.team.name}"></td>
            <td>
                <a th:href="@{/sub13/{id}/points(id=${child.id})}">Atribuir Pontos</a>
            </td>
            <td>
                <a th:href="@{/sub13/alterar/{id}(id=${child.id})}" class="btn btn-primary btn-sm">Editar</a>
            </td>
            <td>
                <form th:action="@{'/sub13/excluir/' + ${child.id}}" method="post">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
