<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crianças</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/menu :: menu"></div>

<div class="container mt-5">
    <h1 class="text-center">Crianças Cadastradas</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Nome da Criança</th>
            <th>Idade</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="criança, iterStat : ${criancas}">
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${criança.nome}"></td>
            <td th:text="${criança.idade}"></td>
            <td th:text="${criança.time.nome}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
